h1 {
  text-align: center;
  padding-bottom: 20px;
}
/* container of all of the projects */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
/* project images */
.project img {
  max-width: 240px;
  height: auto;
}
/*the different projects */
.project {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
}

/* h2 project tittles has not been made */
/* information section about the projects */
.project .project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
}
/* skills part with HTML5, CSS3 etc */
.project .project-skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
/* button size and border */
.project-skill {
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.project-description {
  font-size: 16px;
}

.project-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.project-buttons .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  background-color: #f472b6;
  transition: all 0.3s ease;
}
/* for button to move upp and also get lighter */
.project-buttons .btn:hover {
  transform: translateY(-5px);
  background-color: #f0f0f0;
}

.project-buttons .btn img.btn-icon {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
}

.project-buttons .btn:hover img.btn-icon {
  transform: scale(
    1.1
  ); /* makes the picture a little bit bigger in the button */
}

/* Goksin */

@font-face {
  font-family: "LucidaConsole";
  src: url("/assets/fonts/fonts/LucidaConsole.ttf") format("truetype");
}

@font-face {
  font-family: "Monaco";
  src: url("/assets/fonts/Monaco.ttf") format("woff2"),
    url("/fonts/Monaco.ttf") format("ttf"),
    url("/fonts/Monaco.ttf") format("truetype");
}

body {
  background-color: #f6f9fc;
  margin: 0;
  padding: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  flex-shrink: 0;
}

.terminal {
  font-family: "Monaco", "LucidaConsole", monospace;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-color: rgb(83, 84, 106);
  border-radius: 10px 10px 5px 5px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
    0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
}

.terminal-header {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 28px;

  background-color: rgb(222 221 223);
  border: none;
  border-radius: 10px 10px 0 0;
}

.header-button-red {
  background-color: #f96256;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 10px;
}
.header-button-yellow {
  background-color: #fdbc3d;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.header-button-green {
  background-color: #33c948;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.statement:first-child {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0 0;
}

.statement {
  display: flex;
  flex-direction: column;
  margin: 0 45px 25px 45px;
  gap: 5px;
}

.statement:last-child {
  display: flex;
  flex-direction: column;
  padding: 0 0 35px 0;
}

.input-statement {
  display: flex;
  color: #f7f7f7;
}

.input-statement::before {
  content: ">";
  color: #f7f7f7;
  margin-right: 5px;
  font-weight: bold;
}

.return-statement {
  color: #e7d184;
}

.return-statement a {
  color: #35feff;
  text-decoration: none;
}

.return-statement a:hover {
  color: #2fdbdb;
  text-decoration: none;
}

.cursor {
  display: inline-block;
  width: 5px; /* Width of the mini block */
  height: 15px; /* Height of the mini block */
  background-color: #f7f7f7; /* Color of the block (like a cursor) */
  margin-left: 5px; /* Space between the text and the block */
  animation: blink 1s infinite;
  position: relative; /* Ensures it stays in position */
}

@keyframes blink {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: #f7f7f7b3;
  }
}

.footer-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact-title {
    color: #525f7f;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .dash {
    width: 60px; /* Start with no width */
    height: 8px; /* Thickness of the sliding bar */
    background-color: #747fe0; /* Color of the sliding bar */
  }

  .contact-links {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      text-decoration: none;
    }
  }

  .contact-links a {
    color: #5a5d7a;
    text-decoration: none;
    position: relative;
    font-weight: 300;
  }

  .contact-links a::after {
    content: ""; /* Empty content for the bar */
    position: absolute;
    left: 0;
    top: 35px; /* Position it just below the text */
    width: 0; /* Start with no width */

    height: 8px; /* Thickness of the sliding bar */
    background-color: #747fe0; /* Color of the sliding bar */
    transition: width 0.3s ease-in-out; /* Smooth sliding effect */
  }

  .contact-links a:hover::after {
    width: 100%; /* Expand the bar to full width on hover */
  }

  .contact-links span {
    color: #5a5d7a;
    font-size: 20px;
    font-weight: 200;
  }

  .footer {
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    text-align: center;
    padding-bottom: 50px;
    color: #525f7f;
  }
}

/* Goksin */
